body {
    background-image: url(../images/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    width: auto;
    height: 93vh;
}

#containerOne, #containerTwo, #containerThree {
    display:flex;
    justify-content: space-around;
    font-size: 25px;
}

#getAllStudsCont, #getStudentNamesCont, #studAgeCont, #getOldStudsCont, #youngStudsCont, #advStudCont {
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
    font-size: 20px;
    font-style: italic;
    color: black;
    font-weight: bold;
}