body {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    background-color: rgb(130, 128, 129);
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 40px;
    background-color: rgb(226, 193, 151);
}

h1, h2 {
    margin-bottom: 0px;
}

em {
    font-weight: 400;
}

.container {
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:space-evenly;
}

#tasks {
    display: flex;
    flex-direction: column;
}

.checkWithLabel:checked ~ span {
    text-decoration: line-through;
}

.inputs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#addTask, #submitTask {
    margin-left: 5px;
}


